# Terraform files to ignore
.terraform/
*.tfstate
*.tfstate.*
*.tfvars
*.tfbackend
backend.tf

# Environment files
.env
tools/token.json
client_secrets.json
.venv
env.txt

# Automatically created terraform files

# Sphinx documentation build
build/

# Python cache files
__pycache__/

# IDE files
.netrc

# Other files
user_settings*.csv
memo*
TODO.md
.DS_Store
.catignore
list-files-for-ai.sh
cat-for-ai.sh
file_list.txt
all_contents.txt
change.patch
.build/
tests/test.sql
configs/
bk/
.coverage
